.areaField {
  width: 100%;
  resize: none;
  max-height: 80px;
  border-top-left-radius:10px ;
  border: none;
  background-color: #a9b1bb;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin: 10px 0;
  padding: 15px 18px;
  overflow-y: scroll;
}