// colors
$white: #d3d3d3;
$white2: #EDF7F6;
$white3:#666666;
$black: #000000;
$black2:#47444E;
$black3: #242424;
$purple: #8643DC;
$purple2: #571994;
$yellow2: #FDD307;

$blue: #2D4068;
$blue2: #3D68C2;
$gray1: #1D1E20;
$gray1_nav: white;
//header фон
$gray2: #787a81;

$gray2_block: #d3d3d3;
$gray3: #EBECEC;
$orange: #F29559;
$orange2: #d3651a;
$red: #AD0E29;
$yellow1: #d3651a;

// media
$media_xxxl: 'max-width: 1400px';
$media_xxl: 'max-width: 1300px';
$media_xl: 'max-width: 1200px';
$media_lg: 'max-width: 1100px';
$media_lg2: 'max-width: 1000px';
$media_lg3: 'max-width: 900px';
$media_md: 'max-width: 800px';
$media_md2: 'max-width: 700px';
$media_sm: 'max-width: 600px';
$media_sm2: 'max-width: 500px';
$media_xs: 'max-width: 400px';