@import "../../../style/scss/app.scss";


.MyButtonForm {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-bottom-left-radius:60px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: $orange;
    padding: 17px 10px;
    font-size: 18px;
    border: none;
    transition: background-color ease-in-out 0.2s ;
    &:hover{
        background-color: $orange2;
    }
}